{# empty Twig template #}
{% extends "base.html.twig" %}

{% block title 'Voir tout nos domaines' %}

{% block body %}
    <div class="container mt-4">
        <h1>Voir nos domaines</h1>
    </div>
{% endblock %}